<div class="container">
<h1 style="text-align: center">All the Movies</h1>
<% @movies.each do |movie| %>
<h3><strong><%= movie.title%></strong></h3>
<h3><%= movie.overview%></h3>
<h3><%= image_tag "#{movie.poster_url}", alt: "Poster", width: 200%></h3>
<h3>Rating: <%= movie.rating%></h3>
<br>
<% end %>
<br>
<br>
<%= link_to "Back", root_path %>
</div>
